body {
	overflow-x: hidden;
}

main {
	min-height: 95vh;
}

.jumboimg {
	margin-bottom: 10px;
	height: 300px;
}

.tophead {
	min-height: 6vh;
	z-index: 999;
}

.paginate {
	display: flex;
	justify-content: center;
}

.adminEvents {
	display: flex;
	justify-content: space-between;
}
